working on spotify genre dataset

In [1]:
import pandas as pd
import numpy as np

In [5]:
spotify_df = pd.read_csv(r'C:\Users\navan\Desktop\spotify\Spotify_2000.csv')

data src = https://www.kaggle.com/iamsumat/spotify-top-2000s-mega-dataset

In [176]:
spotify_df.head()

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,168,69,66,-9,7,52,341,2,17,69
3,4,The Pretender,Foo Fighters,alternative metal,2007,173,96,43,-4,3,37,269,0,4,76
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,106,82,58,-5,10,87,256,1,3,59

In [188]:
for (i,j) in spotify_df.iterrows():
    spotify_df.loc[i,"Top Genre"]=spotify_df.loc[i,"Top Genre"].split()[-1]

In [190]:
spotify_df

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,rock,2000,135,79,50,-11,17,81,207,17,7,39
2,3,Clint Eastwood,Gorillaz,hop,2001,168,69,66,-9,7,52,341,2,17,69
3,4,The Pretender,Foo Fighters,metal,2007,173,96,43,-4,3,37,269,0,4,76
4,5,Waitin' On A Sunny Day,Bruce Springsteen,rock,2002,106,82,58,-5,10,87,256,1,3,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1990,Heartbreak Hotel,Elvis Presley,standards,1958,94,21,70,-12,11,72,128,84,7,63
1990,1991,Hound Dog,Elvis Presley,standards,1958,175,76,36,-8,76,95,136,73,6,69
1991,1992,Johnny B. Goode,Chuck Berry,rock,1959,168,80,53,-9,31,97,162,74,7,74
1992,1993,Take Five,The Dave Brubeck Quartet,bebop,1959,174,26,45,-13,7,60,324,54,4,65
1993,1994,Blueberry Hill,Fats Domino,standards,1959,133,50,49,-10,16,83,148,74,3,56

In [191]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1994 non-null   object
 2   Artist                  1994 non-null   object
 3   Top Genre               1994 non-null   object
 4   Year                    1994 non-null   int64
 5   Beats Per Minute (BPM)  1994 non-null   int64
 6   Energy                  1994 non-null   int64
 7   Danceability            1994 non-null   int64
 8   Loudness (dB)           1994 non-null   int64
 9   Liveness                1994 non-null   int64
 10  Valence                 1994 non-null   int64
 11  Length (Duration)       1994 non-null   object
 12  Acousticness            1994 non-null   int64
 13  Speechiness             1994 non-null   int64
 14  Popularity              1994 non-null   int64
dtypes: int64(11), object(4)
memory usage: 233.8+ KB

In [192]:
df=spotify_df.groupby(['Top Genre'])["Top Genre"]
df2=pd.DataFrame(df.describe())
type(df2)

pandas.core.frame.DataFrame

In [193]:
df2

            count unique          top freq
Top Genre
afropop         1      1      afropop    1
alternative     1      1  alternative    1
ambient         1      1      ambient    1
americana      13      1    americana   13
anthem-folk     1      1  anthem-folk    1
...           ...    ...          ...  ...
soundtrack      1      1   soundtrack    1
standards     123      1    standards  123
streektaal      1      1   streektaal    1
trance          1      1       trance    1
wave           38      1         wave   38

[68 rows x 4 columns]

In [194]:
df2=df2.sort_values("count",ascending=False)

In [213]:
df2 = df2[df2["count"]>10]
df2 = df2[df2["count"]<100]
df2

          count unique      top freq
Top Genre
metal        93      1    metal   93
indie        77      1    indie   77
cabaret      51      1  cabaret   51
soul         45      1     soul   45

In [214]:
genre_list=list(df2.index)
genre_list

['metal', 'indie', 'cabaret', 'soul']

In [215]:
cur_df = spotify_df[spotify_df["Top Genre"].isin(genre_list)]

In [216]:
cur_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 3 to 1977
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   266 non-null    int64
 1   Title                   266 non-null    object
 2   Artist                  266 non-null    object
 3   Top Genre               266 non-null    object
 4   Year                    266 non-null    int64
 5   Beats Per Minute (BPM)  266 non-null    int64
 6   Energy                  266 non-null    int64
 7   Danceability            266 non-null    int64
 8   Loudness (dB)           266 non-null    int64
 9   Liveness                266 non-null    int64
 10  Valence                 266 non-null    int64
 11  Length (Duration)       266 non-null    object
 12  Acousticness            266 non-null    int64
 13  Speechiness             266 non-null    int64
 14  Popularity              266 non-null    int64
dtypes: int64(11), object(4)
memory usage: 33.2+ KB

In [217]:
features = ["Energy","Loudness (dB)","Speechiness","Acousticness","Valence"]

In [218]:
from sklearn.model_selection import train_test_split
X=cur_df[features]
y=cur_df["Top Genre"]

In [219]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [220]:
X_scaled

array([[0.95652174, 0.94117647, 0.06896552, 0.        , 0.35106383],
       [0.86956522, 0.82352941, 0.03448276, 0.02061856, 0.58510638],
       [0.36956522, 0.58823529, 0.06896552, 0.86597938, 0.22340426],
       ...,
       [0.31521739, 0.52941176, 0.03448276, 0.70103093, 0.53191489],
       [0.48913043, 0.64705882, 0.03448276, 0.19587629, 0.39361702],
       [0.68478261, 0.64705882, 0.27586207, 0.        , 0.67021277]])

In [221]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_encoded = le.fit_transform(y)
y_encoded.reshape(y_encoded.shape[0])

array([2, 1, 0, 3, 3, 2, 2, 2, 0, 2, 3, 3, 2, 2, 0, 1, 2, 1, 1, 2, 1, 0,
       0, 2, 1, 0, 2, 2, 1, 3, 0, 2, 3, 2, 1, 2, 0, 1, 0, 2, 1, 0, 1, 2,
       0, 2, 0, 1, 1, 0, 0, 2, 0, 2, 2, 0, 1, 1, 3, 0, 3, 0, 2, 1, 2, 1,
       0, 2, 3, 2, 2, 2, 3, 2, 1, 1, 0, 2, 2, 2, 0, 1, 1, 1, 1, 1, 3, 3,
       0, 2, 1, 1, 2, 3, 1, 0, 3, 1, 2, 3, 0, 3, 1, 2, 1, 1, 1, 1, 2, 1,
       3, 3, 1, 1, 2, 1, 2, 0, 2, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 0, 3, 3,
       3, 1, 3, 1, 2, 1, 3, 1, 1, 1, 1, 0, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3,
       0, 3, 0, 1, 1, 1, 3, 3, 1, 2, 0, 1, 3, 1, 2, 2, 2, 0, 2, 2, 1, 2,
       2, 2, 2, 1, 1, 0, 2, 0, 1, 1, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 3, 2, 2, 2, 2, 3, 0, 2, 2, 2, 2, 2, 1, 2, 2, 3, 2, 2, 3,
       0, 0, 0, 0, 0, 2, 2, 2, 2, 3, 1, 0, 0, 0, 2, 2, 1, 0, 2, 0, 2, 0,
       2, 0, 0, 1, 1, 2, 0, 0, 2, 1, 2, 1, 0, 2, 2, 0, 2, 3, 3, 1, 3, 3,
       1, 1])

In [222]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y_encoded,test_size=0.2,random_state=0)

In [223]:
len(X_train)

212

In [224]:
len(X_test)

54

In [225]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=10, random_state=0)
forest.fit(X_train, y_train)
forest.score(X_test, y_test)

0.42592592592592593

In [226]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
tree.score(X_test, y_test)

0.35185185185185186

In [227]:
from sklearn.svm import SVC
svm = SVC(kernel='rbf')
svm.fit(X_train, y_train)
svm.score(X_test, y_test)

0.42592592592592593

In [229]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
log_reg.score(X_test, y_test)

0.42592592592592593

In [230]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

0.4444444444444444